export prenom="Prénom"
export nom="Nom"
export naissance_date="XX/XX/XXXX"
export naissance_lieu="lieu"
export adresse="2 rue de la mairie 99000 ville"
export motif_travail="x"
export motif_courses="x"
export motif_sante="x"
export motif_famille="x"
export motif_sport="x"
export motif_judiciaire="x"
export motif_missions="x"
export fait_lieu="ville"
export fait_date="YY/YY/YYYY"
export fait_heures="00"
export fait_minutes="00"
export creation_date="ZZ/ZZ/ZZZZ"
export creation_heures="00"
export creation_minutes="00"
