export prenom="Prénom"
export nom="Nom"
export naissance_date="01/01/1970"
export naissance_lieu="Lyon"
export adresse="999 avenue de france 75001 Paris"
export motif_travail="x"
export motif_courses=""
export motif_sante=""
export motif_famille=""
export motif_sport=""
export motif_judiciaire=""
export motif_missions=""
export fait_lieu="Paris"
export fait_date="`date +"%d/%m/%Y"`"
export fait_heures="`date +"%H"`"
export fait_minutes="`date +"%M"`"
export creation_date="`date --date='-3 minutes' +"%d/%m/%Y"`"
export creation_heures="`date --date='-3 minutes' +"%H"`"
export creation_minutes="`date --date='-3 minutes' +"%M"`"
