Cree le: ${creation_date} a ${creation_heures}h${creation_minutes};
Nom: ${nom};
Prenom: ${prenom};
Naissance: ${naissance_date} a ${naissance_lieu};
Adresse: ${adresse};
Sortie: ${fait_date} a ${fait_heures}:${fait_minutes};
Motifs: ${motifs_join};
